/* general */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: 
         url('../src/fonts/roboto.woff2') format('woff2'),
         url('../src/fonts/roboto.woff') format('woff');
         /* first path point to newest format */
         /* would it will not loaded then browser try next*/
}

body {
    background-color: #FDF0D5;
    font-family: 'Roboto', 'Arial', sans-serif;
}

li {
    color: #4d600f;
}

i {
    color: #ff0000;
}

/* div's classes */

div.red {
    background: #C1121F;
    color: #FDF0D5;

    width: 600px;
    margin: 5px;
    padding: 5px;
    border: solid #669bbc;
    border-radius: 10px;
}

div.brown {
    background: #b28917;
    color: #f7f3eb;

    margin: 20x;
    padding: 15px;
    border: solid #73bae6;
    border-radius: 10px;
}

/* img's classes */

img.general {
    width: 500px;
    alt: "here must be an image";
}

/* positions */

.box {
    flex-flow: column;
}

div.content-right {
    background-color: #b28917;
    margin: 20x;
    padding: 15px;
    flex-flow: column;
    border: solid #73bae6;
    border-radius: 10px;
    display: flex;
    float: right;
    margin: 10px;
}

div.content-left {
    background-color: #b28917;
    margin: 20x;
    padding: 15px;
    border: solid #73bae6;
    border-radius: 10px;
    display: flex;
    float: left;
    margin: 10px;
}

div.content {
    display: flex;
    flex-flow: row;
    height: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}