/* general */

header{
    display: flex; 
    position:fixed;
    top: 0px;
    left: 0px;
    justify-content: center; 
    width: 100%;
    border: solid 2px;
    border-radius: 5%;
    border-color: #75512660;
    background-color: #dda15e80;
    color: #7b4617;
}

p.header{
    display: fixed;
    position: fixed; 
    right: 10%;
    background-color: #00000000;
    color: #7b4617;
}

a.header {
    background-color: #00000000;
    color: #7b4617;
}

body.position {
    display:flex;
    flex-direction:column;
    background-color: #a69168;
    font-family: 'Roboto', 'Arial', sans-serif;
}

/* 98% is strange num, but it fixed page. Not 99, not 100, only 98...*/
div.general{
    width: 98%;
    text-align: center;
    color: #dcbd7e;
    border: double #ffaa00;
    border-width: 3px;
    background-color: #96785e;
    padding: 5px;
}

div.container-horizontal{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 98%;
    margin: 5px;
    padding: 5px;
    border: solid #ffaa00;
    border-width: 2px;
    background-color: #ab5d5d80;
}

div.container-vertical{
    display: flex;
    width: 98%;
    height: 500px; 
    /* I don't know other way to center item in parent 
    only fixed size */
    padding: 5px;
    border: solid #ffaa00;
    border-width: 2px;
    background-color: #ba4b4b80;
}

div.container-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 98%;

    border: solid #eac375;
    border-width: 2px;
    background-color: #5884a180;
}

div.container-empty{
    width: 1000px;
    height: 800px;

    position:absolute; /* it's necessary*/
    border: double #ffc34a;
    border-width: 5px;
    background-color: #00000000;
    padding: 5px;
}

div.block{
    width: 200px;
    height: 200px;
    margin: 5px;
    border: solid #283618;
    border-radius: 5%;
    border-width: 2px;
    background-color: #606c3890;
}

div.block2{
    width: 200px;
    height: 200px;
    margin: auto;
    border: solid #394e21;
    border-radius: 5%;
    border-width: 2px;
    background-color: #8ead2990;
}

div.block3{
    width: 200px;
    height: 200px;
    margin: auto;
    border: solid #181c36;
    border-radius: 5%;
    border-width: 3px;
    background-color: #0c456990;
}

img.fixed{
    position: fixed;
    display: fixed;

    bottom: 0px;
    left: 0px;

    width: 150px;
}