/* Основные стили для body */
body {
    font-family: Arial, sans-serif;  /* Шрифт текста */
    background-color: #f4f4f4;      /* Цвет фона страницы */
    color: #333;                     /* Цвет текста */
    margin: 0;
    padding: 0;
}

/* Заголовки */
h1 {
    color: #1d5894;                  /* Цвет заголовка 1 */
    font-size: 2.5em;                /* Размер шрифта заголовка 1 */
    text-align: center;              /* Выравнивание текста по центру */
    margin-top: 20px;                /* Отступ сверху */
}

/* Параграфы */
p {
    line-height: 1.6;                /* Межстрочный интервал */
    margin: 10px 20px;               /* Отступы для параграфов */
}
